# Ignore everything by default
*

# Except project files
!dnb_generator.html
!note_detector.html
!ai_art_studio.html
!art.js
!sound_visualizer.html
!series_forge.html
!forge.js
!engine.js
!degrade.js
!hud.js
!overlays.js
!video.js
!brain.js
!prompts.js
!AGENTS.md
!README.md
!LICENSE
!checkpoint.bat
!checkpoints/
!checkpoints/*
!.gitignore
!restore_stable.bat
!create_shortcut.ps1
!create_art_shortcut.ps1
!create_sound_shortcut.ps1
!create_forge_shortcut.ps1
!pin_import.bat
!dnb_icon.ico
!art_icon.ico
!sound_icon.ico
!forge_icon.ico
!HOW_TO_RESTORE.txt

# Ignore system files even if in checkpoints
**/.DS_Store
**/Thumbs.db
