# Ignore everything by default
*

# Except project files
!dnb_generator.html
!AGENTS.md
!checkpoint.bat
!checkpoints/
!checkpoints/*
!.gitignore
!restore_stable.bat
!create_shortcut.ps1
!dnb_icon.ico

# Ignore system files even if in checkpoints
**/.DS_Store
**/Thumbs.db
